<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
            integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/edit.css' %}">
</head>
<body>

<div class="container-fluid">
    <div class="row justify-content-between bg-light">
        <div class="col-auto">
            <h5 class="text-secondary">Fake CSV</h5>
        </div>
        <div class="col-auto">
            <label class="text-secondary">Data Schemas</label>
        </div>
        <div class="col-auto">
            <label class="text-secondary">Hello, {{ user.username }}!</label>
            <a href="{% url 'logout' %}" class="text-secondary">
                Logout
                {% csrf_token %}
            </a>
        </div>
    </div>
    <br>
    <div class="row justify-content-between">
        <div class="col-auto">
            <h4>Edit Schema</h4>
        </div>
        <div class="col-auto" style="position: relative; left: -230px;">
            <button id="submit-btn" class="btn btn-primary">Submit</button>
        </div>
    </div>


    <form id="schema-info" method="POST" class="form-group1">
        {% for data in main_rows %}
            {% csrf_token %}
            <div class="form-group1">
                <label for="name-input">Name</label>
                <input value="{{ data.Title }}" type="text" name="name" class="form-control" id="name-input"
                       style="width: 300px;">
            </div>
            <div class="form-group">
                <label for="sep-select">Column separator</label>
                <select class="form-control type" name="sep" id="sep-select" style="width: 300px;">
                    <option value="," {% if data.Colmn_Sep == "," %} selected {% endif %}>Comma(,)</option>
                    <option value=";" {% if data.Colmn_Sep == ";" %} selected {% endif %}>Semicolon(;)</option>
                </select>
            </div><br>
            <div class="form-group">
                <label for="stch-select">String Character</label>
                <select class="form-control type" name="stch" id="stch-select" style="width: 300px;">
                    <option value="'" {% if data.Strng_Sep == "'" %} selected {% endif %}>Quote(')</option>
                    <option value='"' {% if data.Strng_Sep == '"' %} selected {% endif %}>Double-quote(")</option>
                </select>
            </div>
        {% endfor %}
    </form>
    <br>
    <h4><b>Schema Columns</b></h4>
    <br>

    <div id="forms-container">
        {% for data in schema_rows %}
            <form id="main-form" method="POST" class="dynamic-form form-group">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-group">
                    <label for="col-name-input">Column name</label>
                    <input value="{{ data.Name }}" type="text" name="col_name" class="form-control" id="col-name-input"
                           style="width:300px">
                </div>
                <div class="form-group">
                    <label for="type-select">Type</label>
                    <select id="select-main" class="form-control type" name="type" style="width: 200px">
                        <option value="Name" {% if data.Type == "Name" %} selected {% endif %}>Name</option>
                        <option value="Job" {% if data.Type == "Job" %} selected {% endif %}>Job</option>
                        <option value="Email" {% if data.Type == "Email" %} selected {% endif %}>Email</option>
                        <option value="Integer" {% if data.Type == "Integer" %} selected {% endif %}>Integer</option>
                        <option value="Address" {% if data.Type == "Address" %} selected {% endif %}>Address</option>
                        <option value="Phone" {% if data.Type == "Phone" %} selected {% endif %}>Phone</option>
                    </select>
                </div>
                {% if data.Type == "Integer" %}
                    <div class="form-group">
                        <input style="width:70px" type="text" name="input1" placeholder="Input 1" class="int_field"
                               value={{ data.From }}>
                        <input style="width:70px" type="text" name="input2" placeholder="Input 2" class="int_field"
                               value={{ data.To }}>
                    </div>
                {% endif %}
                <div class="form-group" style="width: 100px;">
                    <label for="order-input">Order</label>
                    <input value={{ data.Order }} type="text" name="order" class="form-control" id="order-input">
                </div>
                <div class="form-group">
                    <a href="#" class="delete-form-btn text-danger">Delete</a><br>
                </div>
            </form>
        {% endfor %}
        {% if schema_rows.count < 6 %}
            <br><br>
            <button id="add-form-btn" class="btn btn-primary">Add column</button>
        {% else %}
            <br><br>
            <button style="display:none" id="add-form-btn" class="btn btn-primary">Add column</button>
        {% endif %}
    </div>
    <script id="form-template" class="dynamic-form" type="text/template">
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-group">
                <label for="col-name-input">Column name</label>
                <input type="text" name="col_name" class="form-control" id="col-name-input" style="width:300px">
            </div>
            <div class="form-group">
                <label for="type-select">Type</label>
                <select class="form-control type" name="type" onchange="handleChange(event)" style="width: 200px">
                    <option value="Name">Name</option>
                    <option value="Job">Job</option>
                    <option value="Email">Email</option>
                    <option value="Integer">Integer</option>
                    <option value="Address">Address</option>
                    <option value="Phone">Phone</option>
                </select>
            </div>
            <div class="form-group" style="width: 100px;">
                <label for="order-input">Order</label>
                <input type="text" name="order" class="form-control" id="order-input">
            </div>
            <div class="form-group">
                <a href="#" class="delete-form-btn text-danger">Delete</a><br>
            </div>
            <br><br>
        </form>
    </script>
</div>


<script src="{% static 'js/edit.js' %}"></script>

</body>
</html>
